.carousel-inner > .item{
    width: 100%;
    height: 500px;
}

.carousel-inner > .item > img {
    width: 100%;
    height: 100%;
    margin: auto;
}

.navbar{
    margin-bottom: 0px;
}

.padTopOrBottom{
    padding: 10px;
}

.formPad{
    padding: 10px;
}